<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body style="font-family: Google Sans;">

<h1>Welcome to Text Analyzer</h1>

<form action='/analyze' method='get'>

    <h2>Enter your text below.</h2><br>

    <textarea name='text' style='0px; width: 689px; height: 350px;'></textarea><br>
    <fieldset>
    <input type='checkbox' id="removepunc" name='removepunc'>Remove Punctuations<br>
    <input type='checkbox' id="toupper" name='toupper'>Convert to Uppercase<br>
    </fieldset>
    <button type='submit'>Analyze Text</button>

</form>
</body>
</html>